@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap');

h1 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-size: 3.052em;
  color: silver;
  background-color: blue;
  border: 1px solid red;
  font-weight: 700;
  text-transform: uppercase;
  word-spacing: .5em;
  margin: 0px;
  text-align: center;
  padding: 10px;


}

h2 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-size: 2.441em;
  background-color: blue;
  border: 1px solid red;
  color: white;
  font-weight: 500;
  word-spacing: .2em;
  margin: 0px;
  text-align: center;
  padding: 10px;
}

h3 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  font-size: 2.441em;
  color: silver;
  background-color: blue;
  border: 1px solid red;
  font-weight: 500;
  word-spacing: .2em;
  margin: 0px;
  text-align: left;
  padding: 10px;
}

h4 {
  font-family: 'Oswald', Verdana, Arial, sans-serif;
  color: silver;
  font-size: 2.441em;
  background-color: blue;
  border: 1px solid red;
  font-weight: 500;
  word-spacing: .2em;
  margin: 0px;
  text-align: left;
  padding: 10px;
}

html {
  font-size: 16px;
}

body {
  font-size: 16px;
  font-family: 'Oswald', Verdana, Arial, sans-serif;
}

.container {
  margin-top: 150px auto;
  width: 50%;
  padding: 8px;

  .wrapper 
  {
    margin: 0 auto;
    width 1000px;
  }

   .img-danie1 
   {
    float: left;
    width: 300px ;
    height 260px;
    padding: 0 10px 0 0;
  }

  .text
  {
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;


  }
  a {
    font-size: 1.25em;
    color: slategrey;
    text-decoration: none;
  }

  a:hover {
    color: red;
  }

  a:visited {
    color: yellow;
  }

  footer {
    background-color: blue;
    position: fixed;
    left: 0;
    width: 100%;
    bottom: 0px;
  }

  .left-footer {
    float: left;
  }

  .right-footer {
    float: right;
  }

  footer p {
    color: silver;
    font-weight: 400;
    padding-right: 10px;
    font-style: italic;
  }

  footer a {
    color: silver;
    text-decoration: none;
  }

  footer a:hover {
    text-decoration: underline;
  }